.interior-listings {
    width: 100%;
    padding: 4vw;
    background-color: #191919;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;

    @media (max-width: 768px) {
        gap: 8vw;
    }

    p {
        display: flex;
        align-items: center;
        gap: 1vw;
        font-size: 1.2vw;
        border: 1px solid #ffffff2a;
        padding: 0.5vw 2vw;
        border-radius: 50px;
        box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.3);
        align-self: flex-start;

        @media (max-width: 768px) {
            font-size: 3vw;
            padding: 1vw 4vw;
            gap: 2vw;
            align-self: center;
        }

        .pilldot {
            width: 8px;
            height: 8px;
            background-color: #FDA33A;
            border-radius: 50%;
        }
    }

    h2 {
        font-size: 3vw;
        align-self: flex-start;

        @media (max-width: 768px) {
            font-size: 6vw;
            align-self: center;
            text-align: center;
        }

        span {
            font-family: Solflare;
            display: block;
            color: #E98A3D;
            font-size: 4vw;

            @media (max-width: 768px) {
                font-size: 7vw;
            }
        }
    }

    >h4 {
        font-size: 1.5vw;
        align-self: flex-start;
        font-weight: 400;
        width: 50%;

        @media (max-width: 768px) {
            width: 100%;
            font-size: 3.5vw;
            text-align: center;
        }
    }

    .filters {
        display: flex;
        gap: 1vw;
        margin: 1vw 0;
        align-self: flex-start;
        margin: 1vw 0;
        padding: 0.5vw 1vw;
        border-radius: 50px;
        border: 1px solid #ffffff33;

        @media (max-width: 768px) {
            padding: 2vw;
        }

        button {
            padding: 1.2vw 2vw;
            border-radius: 50px;
            background: rgba(255, 255, 255, 0.05);
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
            color: #FFF;
            border: none;
            font-size: 1vw;
            cursor: pointer;
            transition: 0.3s ease;
            box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);

            @media (max-width: 768px) {
                padding: 3vw 2vw;
                font-size: 3vw;
            }

            &.active,
            &:hover {
                background-color: #FDA33A;
                color: #000;
                box-shadow: 0 0 20px #FDA33A;
            }
        }
    }

    .cards {
        display: flex;
        gap: 2vw;
        margin-top: 2vw;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 10vw;
        }

        .card {
            width: 30%;
            height: 500px;
            border-radius: 20px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
            overflow: hidden;
            position: relative;

            @media (max-width: 768px) {
                width: 100%;
                height: 200px;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
                transition: all ease 0.5s;
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 1.5vw;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.777), transparent 60%);
                transition: all 0.4s ease;

                @media (max-width: 768px) {
                    padding: 4vw;
                }

                .top {
                    display: flex;
                    justify-content: space-between;
                    transform: translateY(-100%);
                    opacity: 0;
                    transition: all 0.4s ease;

                    @media (max-width: 768px) {
                        opacity: 1;
                        transform: translateY(0);
                    }

                    div {
                        display: flex;
                        align-items: center;
                        gap: 0.4vw;
                        font-size: 1.2vw;

                        @media (max-width: 768px) {
                            font-size: 3vw;
                        }

                        i {
                            font-size: 1.5vw;

                            @media (max-width: 768px) {
                                font-size: 4vw;
                            }
                        }
                    }
                }

                .bottom {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: #fff;

                    h4 {
                        font-size: 1.5vw;

                        @media (max-width: 768px) {
                            font-size: 4vw;
                        }
                    }
                }
            }

            &:hover .overlay .top {
                transform: translateY(0);
                opacity: 1;
            }

            &:hover img {
                scale: 1.2;
            }
        }
    }
}